body {
    background-color: #24353f;
    
  }
  
  .mybg {
    background-color: #24353f;
    border: solid 2px rgba(128, 128, 128, 0.481);
  }
  

  .mydesign
  {
font-size: 32px;
font-weight: 500;


  }